.map {
  height: 300px;
}

@import url("https://fonts.googleapis.com/css?family=EB+Garamond");

body {
  font-family: "EB Garamond", serif;
}

.leaflet-container {
  font-family: "EB Garamond", serif;
}

body, .leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: #fdf6e3;
}
