<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">On deck: v. 1.1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>I’ve now taught this course and am planning on updating it.
          Everything here works as a matter of technology, but not everything
          works as a matter of pedagogy. Please see <a
            href="/help/map-to-1dot1">the map to 1.1</a> in the help menu for an
          idea of what the next version  might look like.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
