<nav id="topNav" class="navbar navbar-toggleable-md fixed-top navbar-light bg-base2">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/contents">
    <img class="brand-img" alt="" src="/assets/images/logo-no-border.svg" width="35">
    <span id="brand-name-small">The .JSing English Major</span>
    <span id="brand-name-big">The JavaScripting English Major</span>
  </a>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="chapters" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#">
          Chapters
        </a>
        <div class="dropdown-menu" aria-labelledby="chapters">
          <a class="dropdown-item" href="/0-introduction">0. Introduction</a>
          <a class="dropdown-item" href="/1-environment">1. Environment</a>
          <a class="dropdown-item" href="/2-calculator">2. JS Calculator</a>
          <a class="dropdown-item" href="/3-programming">3. Programming</a>
          <a class="dropdown-item" href="/4-functions">4. Functions</a>
          <a class="dropdown-item" href="/5-collections">5. Collections</a>
          <a class="dropdown-item" href="/6-abstraction">6. Abstraction</a>
          <a class="dropdown-item" href="/7-errors">7. Oops!</a>
          <a class="dropdown-item" href="/8-webpage">8. Webpage Writing</a>
          <a class="dropdown-item" href="/9-dataset">9. Datasets</a>
          <a class="dropdown-item" href="/10-leaflet">10. Leaflet</a>
          <a class="dropdown-item" href="/11-geojson">11. GeoJSON</a>
          <a class="dropdown-item" href="/12-introduction">12. Introduction</a>
          <a class="dropdown-item" href="/a-resources">A. Resources</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link">About</a>
      </li>
    </ul>
  </div>
</nav>

