<nav id="topNav" class="navbar navbar-toggleable-md fixed-top navbar-light bg-base2">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/contents">
    <img class="brand-img" alt=".js" src="/assets/images/logo-no-border-sq.svg" width="35">
    <span id="brand-name-small">The .JSing English Major</span>
    <span id="brand-name-big">The JavaScripting English Major</span>
  </a>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="chapters" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#">
          Chapters
        </a>
        <div class="dropdown-menu" aria-labelledby="chapters">
          {% for chapter in chapters %}
            <a class="dropdown-item" href="{{ chapter.url }}">{{ chapter.chapter-no }}. {{ chapter.title }}</a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          {% for appendix in site.appendices %}
            <a class="dropdown-item" href="{{ appendix.url }}">{{ appendix.title }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="help" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="help">
          {% for help-page in site.help-pages %}
            <a class="dropdown-item" href="{{ help-page.url }}">{{ help-page.title }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link">About</a>
      </li>
    </ul>
  </div>
</nav>

