/* Solarized Dark 

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base03    #002b36  background
base01    #586e75  comments / secondary content
base1     #93a1a1  body text / default code / primary content
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

$base03:    #002b36;  // background
$base01:    #586e75;  // comments / secondary content
$base1:     #93a1a1;  // body text / default code / primary content
$orange:    #cb4b16;  // constants
$red:       #dc322f;  // regex, special keywords
$blue:      #268bd2;  // reserved keywords
$cyan:      #2aa198;  // strings, numbers
$green:     #859900;  // operators, other keywords

.highlight { background-color: $base03; color: $base1 }
.highlight .c { color: $base01 } /* Comment */
.highlight .err { color: $base1 } /* Error */
.highlight .g { color: $base1 } /* Generic */
.highlight .k { color: $green } /* Keyword */
.highlight .l { color: $base1 } /* Literal */
.highlight .n { color: $base1 } /* Name */
.highlight .o { color: $green } /* Operator */
.highlight .x { color: $orange } /* Other */
.highlight .p { color: $base1 } /* Punctuation */
.highlight .cm { color: $base01 } /* Comment.Multiline */
.highlight .cp { color: $green } /* Comment.Preproc */
.highlight .c1 { color: $base01 } /* Comment.Single */
.highlight .cs { color: $green } /* Comment.Special */
.highlight .gd { color: $cyan } /* Generic.Deleted */
.highlight .ge { color: $base1; font-style: italic } /* Generic.Emph */
.highlight .gr { color: $red } /* Generic.Error */
.highlight .gh { color: $orange } /* Generic.Heading */
.highlight .gi { color: $green } /* Generic.Inserted */
.highlight .go { color: $base1 } /* Generic.Output */
.highlight .gp { color: $base1 } /* Generic.Prompt */
.highlight .gs { color: $base1; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $orange } /* Generic.Subheading */
.highlight .gt { color: $base1 } /* Generic.Traceback */
.highlight .kc { color: $orange } /* Keyword.Constant */
.highlight .kd { color: $blue } /* Keyword.Declaration */
.highlight .kn { color: $green } /* Keyword.Namespace */
.highlight .kp { color: $green } /* Keyword.Pseudo */
.highlight .kr { color: $blue } /* Keyword.Reserved */
.highlight .kt { color: $red } /* Keyword.Type */
.highlight .ld { color: $base1 } /* Literal.Date */
.highlight .m { color: $cyan } /* Literal.Number */
.highlight .s { color: $cyan } /* Literal.String */
.highlight .na { color: $base1 } /* Name.Attribute */
.highlight .nb { color: $green } /* Name.Builtin */
.highlight .nc { color: $blue } /* Name.Class */
.highlight .no { color: $orange } /* Name.Constant */
.highlight .nd { color: $blue } /* Name.Decorator */
.highlight .ni { color: $orange } /* Name.Entity */
.highlight .ne { color: $orange } /* Name.Exception */
.highlight .nf { color: $blue } /* Name.Function */
.highlight .nl { color: $base1 } /* Name.Label */
.highlight .nn { color: $base1 } /* Name.Namespace */
.highlight .nx { color: $base1 } /* Name.Other */
.highlight .py { color: $base1 } /* Name.Property */
.highlight .nt { color: $blue } /* Name.Tag */
.highlight .nv { color: $blue } /* Name.Variable */
.highlight .ow { color: $green } /* Operator.Word */
.highlight .w { color: $base1 } /* Text.Whitespace */
.highlight .mf { color: $cyan } /* Literal.Number.Float */
.highlight .mh { color: $cyan } /* Literal.Number.Hex */
.highlight .mi { color: $cyan } /* Literal.Number.Integer */
.highlight .mo { color: $cyan } /* Literal.Number.Oct */
.highlight .sb { color: $base01 } /* Literal.String.Backtick */
.highlight .sc { color: $cyan } /* Literal.String.Char */
.highlight .sd { color: $base1 } /* Literal.String.Doc */
.highlight .s2 { color: $cyan } /* Literal.String.Double */
.highlight .se { color: $orange } /* Literal.String.Escape */
.highlight .sh { color: $base1 } /* Literal.String.Heredoc */
.highlight .si { color: $cyan } /* Literal.String.Interpol */
.highlight .sx { color: $cyan } /* Literal.String.Other */
.highlight .sr { color: $red } /* Literal.String.Regex */
.highlight .s1 { color: $cyan } /* Literal.String.Single */
.highlight .ss { color: $cyan } /* Literal.String.Symbol */
.highlight .bp { color: $blue } /* Name.Builtin.Pseudo */
.highlight .vc { color: $blue } /* Name.Variable.Class */
.highlight .vg { color: $blue } /* Name.Variable.Global */
.highlight .vi { color: $blue } /* Name.Variable.Instance */
.highlight .il { color: $cyan } /* Literal.Number.Integer.Long */
